.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width:100%;
    height: 50px;
    padding:0px 18px;
    padding-top: 5px;
    background-color: #33a324;
    z-index: 1;
}
.headerItem{
    font-size: 30px;
}